*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: black;
}
main{
width: 100%;
height: 100%;
background-color: white;
display: flex;
justify-content: center;
align-items: center;
}
section{
    width: 50%;
    height: 60%;
    background-color: whitesmoke;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    color: black;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 20px;
    gap: 10px;
}

.fromcontainer{
    display: flex;
    width: 100%;
    display: flex;
    flex-direction: column;
    
}
input{
    width: 100%;
    padding: 5px 3px ;
    font-size: large;
     border: none;
    outline: none;
    border:1px  dotted;
}
label{
    font-size: large;
    margin-top: 10px;
}
button{
    margin-top: 20px;
    font-size: larger;
    padding: 5px;
    cursor: pointer;
    background-color: rgba(44, 236, 44, 0.691);
    border: none;
    outline: none;
}
.amount_display{
    width: 100%;
    display:flex ;
    flex-direction: column;

}